/* Colores
01 gris oscruo
#292526
02 beige todo raro
#787676
03 como un gris pero m[as claro
#A3A1A2
04 gris muy claro
#F2F2F2
05
#121111
*/

*{
    background-color: #fff;
    font-family: encode sans1;
}
@font-face{
    font-family: encode sans1;
    src: url(/storage/font/static/EncodeSans-Regular.ttf) format("truetype");
    font-weight: 100;
}
button{
    background: #292526;
    color: #fff;
    padding: 13px 30px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    width: 95%;
    font-weight: bold;
}
.header-checkout{
    display: flex;
    margin: 2rem;
    .back{
        background: none;
        border-radius: 100%;
        border: 2px solid #DFDEDE;
        cursor: pointer;
        width: 2.5rem;
    }
    h1{
        text-align: center;
    }
    .menu{
        background: none;
        border-radius: 100%;
        border: 2px solid #DFDEDE;
        cursor: pointer;
        width: 2.5rem;
    }
}
nav hr{
    /* Hacer que la linea no sea con tanto color, hacerla más opaca */
}

.product1, .product2{   
    .description {
    font-size: 14px;
    color: #555;
    }
    .detail{

    }
    .icon-options{
        
    }
    .detail-botones{
        
    }
}
.formulario{
    
}


/* Corregir el nombre de la clase y las caracteristicas */
.information-left{

}
.information-right{
    
}
