<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detail.css">
    <title>Carrito</title>
</head>
<body>
    <main>
        <article>
            <figure>
                <div class="image-preview">
                    <img src="/storage/img/detail/product2.png" alt="preview">
                    <div class="heart">
                        <img src="/storage/img/detail/icon-heart-fully.png" alt="corazon negro">
                    </div>
                    <div class="back">
                        <a href="../index.html">
                            <img src="/storage/img/detail/icon-main.png" alt="icon back">
                        </a>
                    </div>
                <!-- colorcarle radio blanco tanto como al bvoton como al corazon -->
                </div>
            </figure>
            <div class="card">
                <h2>Light Dress Bless</h2>
                <div class="rating">
                    <img src="/storage/img/detail/icon-star.png" alt="estrella">5.0<a href="https://google.com">(7,932 reviews)</a>
                </div>
                <p class="description">Its simple and elegant shape makes it perfect for those of you who like you who want minimalist clothes <span class="bold">Read More...</span></p>
                
            </div>
            <div class="add-item">
                <!-- falta el add item -->
            </div>
        </article>
    </main>
    <hr>
    <section>
        <div class="options">
            <h3>Choose size</h3>
            <div class="size">
                <span>S</span>
                <span>M</span>
                <span class="selected">L</span>
                <span>XL</span>
            </div>
            <div class="color">
                <h3>Color</h3>
                <div></div>
                <div></div>
                <div class="selected"></div>
            </div>
        </div>
    </section>
    <footer>
        <button>
            <p><img src="/storage/img/detail/shopping-cart.png" alt="carrito de compras">Add to cart | $162.99 <s>$169.99</s></p>
            <!-- hacer que el texto en la etiqueta s sea mas peque;o -->
            <!-- falta mejoirar muchas cosas en realidad pero las hago con el css -->
        </button>
    </footer>
    <script src="/js/detail.js"></script>
</body>
</html>
